:root {
    --primary: rgb(19, 21, 29);
    --secondary: rgb(68, 81, 125);
    --tertiary: rgb(193, 216, 232);
    --quatrinary: rgb(53, 52, 46);
}

body {
  background-image: url(../src/assests/back-ground.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.jumbotron {
  background-color: transparent;
}

h1 {
  margin-left: 10px;
  color: var(--tertiary);
}

h1:hover {
  color: var(--primary);
}

h2 {
  margin-left: 10px;
  color: var(--tertiary);
  background-color: var(--primary);
  width: fit-content;
  padding: 10px;
  border-radius: 15px;
}

h3 {
  margin-left: 10px;
  color: var(--tertiary);
}

h4 {
  color: var(--tertiary);
  background-color: var(--primary);
  text-align: center;
  margin-bottom: 0;
  padding: 10px;
  border-radius: 5px;
}

.nav-link {
  color: var(--primary);
  margin: 2px;
  border-radius: 5px;
}

p {
  color: aliceblue;
  font-size: 1rem;
  background-color: var(--primary);
  padding: 10px;
  margin-bottom: 0px;
}


/* Game cards start */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.game-card {
  position: relative;
  width: 320px;
  height: 220px;
  margin: 20px;
  margin-bottom: 100px;
  background-color: black;
  border-radius: 15px;
}

.overlay-position {
  position: relative;
}

.img-thumbnail {
  width: 320px;
  height: 220px;
  display: block;
  border: 2px solid black;
  border-radius: 0.25rem;
  padding: 0;
}
.img__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.img__overlay:hover {
  opacity: 1;
}

.img__overlay:hover > * {
  transform: translateY(0px);
}

.button {
  background-color: var(--primary);
}

.button:hover {
  background-color: var(--secondary);
  border-color: var(--primary);
}

.gamesBtn {
  text-align: center;
}

.details-btn {
  background-color: var(--primary);
  min-width: 320px;
  color: var(--tertiary);
}

.details-btn:hover {
  background-color: var(--tertiary);
  color: var(--primary);
}

/* Buttons */

.btn-1 {
  font-size: 20px;
  color: var(--tertiary);
  padding: 15px;
  background-color: var(--primary);
  margin: 20px;
  border-radius: 15px;
}

.btn-2 {
  font-size: 20px;
  color: var(--tertiary);
  padding: 10px;
  background-color: var(--primary);
  border-radius: 15px;
}

.btn-1:hover, .btn-2:hover {
  background-color: var(--tertiary);
  color: var(--primary);
}

.clear-btn {
  margin-left: 5px;
  background-color: var(--quatrinary);
  color: var(--tertiary);
}

.clear-btn:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

.modal-content {
  background-color: var(--primary);
  color: var(--tertiary);
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--primary);
  font-weight:bold ;
}

.save-button {
  background-color: var(--tertiary);
  color: var(--primary);
}

.save-button:hover {
  background-color: var(--primary);
  color: var(--tertiary);
}

.friend-container {
  margin-right: 10px;
  text-align: right;
}

.profile-link {
  font-size: 15px;
  color: var(--tertiary);
  padding: 15px;
  background-color: var(--primary);
  margin: 20px;
  border-radius: 15px;
}

.profile-h2{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navbar-toggler-icon {
  color: var(--primary);
}