.profile_game_container {
    display: flex;
    margin: 20px;
    padding-bottom: 120px;
}

.game_list {
    width: 600px;
}

.profile-link {
    text-align: center;
    list-style: none;
    color: rgb(192, 192, 192);
}

.profile-link:hover {
    color: rgb(71, 71, 71);
}

@media only screen and (max-width: 1090px) {
    .profile_game_container {
        flex-wrap: wrap;
        padding-bottom: 170px;
    }
}